body{
    background-color: lightgray;
}

.qr-card{
    background-color: white;
    width: 300px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    border-radius: 3%;
    
    
}
.qr{
    width: 18rem;
    padding-left: 6px;
    padding-top: 5px;
    border-radius: 10%;
}

.text-1{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
}

.text-2{
    width: 250px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 100;
}